<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/public/css/edu-style.css">


    <title>EDU</title>
</head>
<body>
<%- include('blocks/admin-header') %>

<!--========== CONTENTS ==========-->
<main>
    <h2 class="main-heading">Reviews of users</h2>
    <section class="main-container">
        <section class="main-container-right">
            <% reviews.forEach(function(review) { %>
                <div>
                    <!-- <div class="icon-article">
                        <img style="padding-top: 20px" src="/public/images/comment.png" alt="">
                    </div> -->
                    <div>
                        <div class="review-field">
                        <div class="bynamedate"><p>by <span class="byname"><%= review.user.username %></span>, <span class="bydata"><%= review.dateCreated %></span></p></div>

                        <h2><span class="bytitle">TItle: <%= review.title %></span></h2>

                        <p class="bytext"><%= review.text %></p>

                        <form method="post" action="/delete-review/<%= review.id %>">
                            <div class="button-delete-publish">
                                <button type="submit">Delete</button>
                            </div>
                        </form>


                        <div class="comment-field-gen">
                        <% review.comments.forEach(function(comment) { %>
                        <div class="comment-field">
                            <p class="bynamedate"><a><%= comment.user.username %> </a> |<span class="bydata"><%= comment.date %></span></p>
                                <p><%= comment.text %></p>
                                
                                <form method="post" action="/delete-comment/<%= comment.id %>">
                                    <div class="button-delete-publish">
                                        <button type="submit">Delete</button>
                                    </div>
                                </form>

                    </div>
                    <% }) %>
                    
                     
                        <form action="/postComment/<%= review._id %>" method="POST">
                            <!-- <div class="webflow-style-input">
                                <input class="" type="email" placeholder="What's your email?"></input>
                                <button type="submit" name="text"><i class="icon ion-android-arrow-forward"></i></button>
                              </div> -->
                            <label>Comment to review: </label><br>
                            <div class="comment-post">

                            <textarea class="textarea" id="text" name="text" placeholder="Write comment here..."></textarea>
                            <input type="hidden" name="_method" value="DELETE">
                            
                            <button class="comment-button" type="submit"><i class="iconbtn"></i> <i class='bx bx-send iconbtn'></i></button>
                            
                        </div>
                        </form>
                    </div>
                </div>

                    </div>
                </div>
            <% }) %>
            

        <!-- <div class="review-post">
        <form action="/postReview" method="POST">
            <label>Leave a review: </label><br>
            <input class="title-text" type="text" name="title" placeholder="Title"><br>
            <textarea class="textarea-review" id="text" name="text" placeholder="Write comment here..."></textarea>
            <br>
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Post Review</button>
        </form>
    </div> -->
        </section>
    </section>
</main>
<%- include('blocks/footer-main') %>

<!--========== MAIN JS ==========-->
<script src="assets/edu.js"></script>
</body>
</html>

<style>
    
</style>