<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/public/css/edu-style.css">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>HOK Variant3</title>

</head>
<body>
<%- include('blocks/header-main') %>
<!--========== CONTENTS ==========-->
<main>
    <section>
        <a class="back-button" href="/rating">BACK</a>
        <div class="heading__available">
            <h2>TOP HOK Variant3</h2>
        </div>
        <br>
        <table id="customers">
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Scores</th>
              <th>Date</th>
            </tr>
            <%  scores.forEach(function(s, i) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= s.user.username %></td>
              <td><%= s.scores%> / 15</td>
              <td><%= s.createdAt %></td>

            </tr>
            <% }) %>
          
          </table>
          
        <!-- <table class="table">
            <tr>
                <th class="table__heading">#</th>
                <th class="table__heading">Username</th>
                <th class="table__heading">Scores</th>
                <th class="table__heading">Date</th>
            <%  scores.forEach(function(s, i) { %>
            <tr class="table__row">
                <td class="table__content" data-heading="#"><%= i+1 %></td>
                <td class="table__content" data-heading="Name"><%= s.user.username %></td>
                <td class="table__content" data-heading="User"><%= s.scores%> / 15</td>
                <td class="table__content" data-heading="Score"><%= s.createdAt %></td>
            </tr>
            <% }) %>
        </table> -->
    </section>
</main>
<%- include('blocks/footer-main') %>
<script src="/assets/edu-scripts/edu.js"></script>
</body>
</html>
