<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->

    <!-- ============FONT AWESOME=========== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" href="/public/css/admin-page-style.css">-->
    <link rel="stylesheet" href="/public/css/edu-style.css">


    <title>ADMIN PANEL</title>
</head>
<body>
<%- include('blocks/admin-header') %>

<!--========== CONTENTS ==========-->
<main>
    <h2 class="main-heading">User Edit</h2>
        <section class="center">
            <!-- <div class="new-div"> -->
        <center class="container">

            <div class="box">
                <form action="/user-edit/<%= user.id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <label for="title" class="text-white">Username: </label>
                    <input type="text" class="form-control" placeholder="Nickname" name="nickname"
                           value="<%= user.username %>" required>
                    <br><br>
                    <label for="type" class="text-white">Email: </label>
                    <input type="text" class="form-control" placeholder="Email" name="email" value="<%= user.email %>"
                           required>
                    <br><br>
                    <label for="type" class="text-white">Roles: </label>
                    <input type="text" class="form-control" placeholder="Roles" name="roles" value="<%= user.roles %>"
                           required>
                    <br><br>
                    <label for="type" class="text-white">Has Access: </label>
                    <input type="text" class="form-control" placeholder="true/false" name="hasAccess" value="<%= user.hasAccess %>"
                           required>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Update</button>
                    </div>
                </form>
                <form method="post" action="/user-delete/<%= user.id %>">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Delete</button>
                    </div>
                </form>
            </div>
            </center>
        </section>
</main>

<!--========== MAIN JS ==========-->
<%- include('blocks/footer-main') %>
</body>
</html>

<style>
    .container {
        padding: 20px 20px 20px 20px;
        background: rgb(255, 255, 255);
        border-radius: 20px;
    }
.box{
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    /* width: 153px;
    height: 153px; */
    width: 360px;
    
    height: 600px;
    /* border:2px solid #3498db; */
    /* box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288); */
    box-shadow:  0 20px 20px -10px rgba(0, 0, 0, 0.533);
    background: rgb(227, 224, 244);
    /* border-radius: 50%; */
    margin-top: 50px;
    overflow: hidden;
    transition: all 1s;


    }
    .box:hover{
    width: 360px;
    height: 600px;
    border-radius: 5px;
    }
 img{
box-sizing: border-box;
width:149px;
height:149px;
border-radius:50%;
border:5px solid #3da8fa;
background-color: white;
overflow: hidden;

}
/* .box:hover img{
width: 100px;
height: 100px;
margin:20px 35% ;
} */
 hr{
width:500px;
line-height:20px;
margin:10px 10px 10px 10px;
}
 input[type="text"],
 input[type="email"],
x input[type="password"] {
box-sizing: border-box;
color: #3498db;
margin-top: 50px;
margin-bottom: 30px;
padding: 4px;
width: 220px;
height: 32px;
border: none;
border-bottom: 1px solid #0082e6;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
transition: 0.2s ease;
background: none;
}
input[type="text"]{
margin-top: 25px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
border-bottom: 0.5px solid #3498db;
border-bottom-right-radius:20px;
color: #3498db;
transition: 0.2s ease;
background: rgb(231, 229, 250);
border-top: none;
}


 button{
border:1px solid #3498db;
background-color: black;
color:white;
height: 30px;
width: 100px;
border-radius: 5px;
left:0;
margin:0px;
transition: all .3s;
}
 button:hover{
transform: scale(1.1);
background-color: #566573;
}
 input[type="file"]{
display:none;
}
</style>